.g-useraccount-tab
  margin-top 10px
  border-radius 4px
  background-color #fafafa
  border 1px solid #e3e3e3
  padding 10px
  max-width 600px

  .g-validation-failed-message
    margin-top 12px

#g-admin
  margin-left 10px

.g-api-key-buttons
  margin-top 10px

  .btn
    margin-right 10px

.g-api-key-container
  padding 10px
  border 1px solid #d7d7d7
  background-color #f0f0f0
  border-radius 4px

  .g-warning
    color #d9534f
    font-weight bold

  .g-api-key
    border 1px solid #ded
    background-color #efe
    padding 6px
    font-family monospace
    font-size 13px
