[submodule "plugins/wholetale"]
	path = plugins/wholetale
	url = https://github.com/whole-tale/girder_wholetale
[submodule "plugins/wt_data_manager"]
	path = plugins/wt_data_manager
	url = https://github.com/whole-tale/girder_wt_data_manager
[submodule "plugins/wt_home_dir"]
	path = plugins/wt_home_dir
	url = https://github.com/whole-tale/wt_home_dirs
[submodule "plugins/globus_handler"]
	path = plugins/globus_handler
	url = https://github.com/whole-tale/globus_handler
[submodule "plugins/virtual_resources"]
	path = plugins/virtual_resources
	url = https://github.com/whole-tale/virtual_resources
[submodule "plugins/wt_versioning"]
	path = plugins/wt_versioning
	url = https://github.com/whole-tale/wt_versioning
[submodule "plugins/sem_viewer"]
	path = plugins/sem_viewer
	url = https://github.com/htmdec/sem_viewer
[submodule "plugins/table_view"]
	path = plugins/table_view
	url = https://github.com/htmdec/table_view
