[submodule "plugins/wholetale"]
	path = plugins/wholetale
	url = https://github.com/whole-tale/girder_wholetale
[submodule "plugins/wt_data_manager"]
	path = plugins/wt_data_manager
	url = https://github.com/whole-tale/girder_wt_data_manager
