[submodule "plugins/wholetale"]
	path = plugins/wholetale
	url = https://github.com/whole-tale/girder_wholetale
[submodule "plugins/wt_data_manager"]
	path = plugins/wt_data_manager
	url = https://github.com/whole-tale/girder_wt_data_manager
[submodule "plugins/wt_sils"]
	path = plugins/wt_sils
	url = https://github.com/whole-tale/wt_sils
	branch = master
[submodule "plugins/wt_home_dir"]
	path = plugins/wt_home_dir
	url = https://github.com/whole-tale/wt_home_dirs
